
/* body{background-color:#F7EFE4;}

h1{color:white;font-size:40px;text-align:center;font-family: 'Barlow', sans-serif;}

h2{color:white;font-size:25px;font-weight:bold;text-align:center;font-family: 'Barlow', sans-serif;}

h3{color:black;font-size:20px;text-align:left;font-family: 'Barlow', sans-serif;}

p{color:white;font-size:20px;font-weight: bold; text-align:left;font-family: 'Barlow', sans-serif;
background-color:purple;padding:25px 15px 25px 30px; margin: 30px 50px 0px 50px; line-height: 22px;}

table, td{border : 2px solid white;color:white; text-align: center; padding: 10px 10px 10px 10px; border-collapse: collapse}

table, th{border : 2px solid white;color:white; text-align: center; padding: 10px 10px 10px 10px; border-collapse: collapse; background: purple}

label{color:white;font-size:20px;font-weight: bold; text-align:left;font-family: 'Barlow', sans-serif; line-height: 22px; margin-bottom: 30px}


ol{text-align: left;}

.call-to-action img{float:right;}

.main h1 {letter-spacing: 0px }

.stand{background-color: #E8D9F2; padding: 20px 20px 20px 20px; width:750px;}
.stand img{width:750px; height: 500px; margin-bottom: 10px}
.test p {background-color: #E8D9F2; font-size: 40px; text-align: center; padding-top: 0px}

a:hover{color:#E8D9F2;}
a:active{color:#E8D9F9;}

*/

body{background-color:skyblue;}

.sub {background-color:#FFFFFF; border: 5px solid skyblue; width: 1500px; height: 2000px; margin: 20px 20px 20px 20px;}

.sub img{border: 5px solid #6D9EEB; margin: 20px 20px 20px 40px; float: left;}

.sub h1{width: 750px; color:white; text-align: center; background-color: skyblue; padding: 3px 0px 5px 0px; margin: 0px 0px 20px 0px;}

p{text-align: left; margin: 60px 50px 50px 850px ;}


.ver{float:right; margin: 20px 20px 20px 40px;}

/* consider adding this to .sub h1:

margin-top: 0px;
    margin-left: 473px;
    padding-left: 107px;
    padding-right: 10px;
    padding-bottom: 20px;

 */

/* consider adding this to .ver:

 float:right;
	margin-right:40px;
	width:150px;
	height:80px;

*/

